body {
    display: grid;
    grid-template:
        "header" 1fr
        "main-content" 12fr
        "footer" 1fr;
}

header {
    grid-area: header;

    display: grid;
    grid-template-columns: 1fr 3fr 5fr 1fr;
    grid-template-areas: ". logo memu-bar .";
}

.logo {
    grid-area: logo;
}

.memu-bar {
    grid-area: memu-bar;
}

.main-content {
    margin: 1.5em 0;

    grid-area: main-content;

    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas: "left-part canvas-part right-part";
}

.left-part {
    grid-area: left-part;
}

.canvas-part {
    grid-area: canvas-part;
}

.right-part {
    grid-area: right-part;
}

footer {
    grid-area: footer;

    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas: ". email-footer .";
}

.email-footer {
    grid-area: email-footer;
}
