.header-content {
  background-color: #222;
  color: #e4e4e4;
  padding: 7px 0;
}

.logo {
  text-align: left;
  font-size: 2em;
}

ul.memu-bar {
  list-style-type: none;
  width: 100%;
  padding: 0;
  float: none !important;
  margin: 7.5px 0px;
  overflow-y: auto;
  
  text-align: right;
}

ul.memu-bar > li {
  font-size: 1em;
  display: inline;
}

ul.memu-bar > li:not(:first-child) {
  padding: 0 7px;
}

ul.memu-bar > li > a > span.name {
  font-size: 25px;
  padding-right: 7%;
  color: #e4e4e4;
}
ul.memu-bar > li > a.header-name {
  text-decoration: none;
}

ul.memu-bar > li > a.header-name:hover {
  cursor: pointer;
  opacity: 0.7;
}

.menu-hidden {
  visibility: hidden;
}

img.icon {
  width: 25px;
  height: 25px;
}

.pm-link {
  text-decoration: none;
  font-size: 16px;
  color: #e4e4e4;
  margin-left: 5px;
}

.pm-link:hover {
  cursor: pointer;
  opacity: 0.7;
}
