.menu-img {
  width: 100px;
  height: 300px;
  opacity: 0.6;
}

.nav-link {
  margin-top: 200px;
}

.menu-img:hover {
  cursor: pointer;
  opacity: 1;
}

canvas {
    background-color: #333;
    margin-top: 1.5em;
}