html {

}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #333;
  text-align: center;
  margin: 0;
  font-size: 16px;
  font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
}

nav,
section {
}

.header-contents {
  background-color: #222;
  color: #e4e4e4;
  padding: 2px 0;
}

.context-header {
  font-size: 25px;
  background-color: #222;
  color: #e4e4e4;
  padding-bottom: 10px;
  padding-top: 10px;
}

ul.header-value {
  list-style-type: none;
  width: 100%;
  padding: 0;
  float: none !important;
  margin: 7.5px 0px;
  overflow-y: auto;
}

ul.header-value > li {
  font-size: 16px;
  display: inline;
}

ul.header-value > li:not(:first-child) {
  padding: 0 7px;
} 

.border-right {
  border-right: 1px solid #e4e4e4;
}

ul.header-value > li > a > span.name {
  font-size: 25px;
  padding-right: 7%;
  color: #e4e4e4;
}
ul.header-value > li > a.header-name {
  text-decoration: none;
}

ul.header-value > li > a.header-name:hover {
  cursor: pointer;
  opacity: 0.7;
}

.menu-hidden {
  visibility: hidden;
}

img.icon {
  width: 20px;
  height: 15px;
}

.pm-link {
  text-decoration: none;
  font-size: 16px;
  color: #e4e4e4;
  margin-left: 5px;
}

.pm-link:hover {
  cursor: pointer;
  opacity: 0.7;
}